body{
    background: rgb(238, 238, 238);;
}

.image-card-container{
    max-width: 400px;
}

.image-card-container img{
    height: 200px;
    border-radius:5%;
    border: solid 1px black;
    box-shadow: 10px 10px 18px #888888;;
}

.grid-container{
    display: grid;
    grid-template: 220px 220px 220px 220px /400px 400px 400px;
    justify-content: center;
}

.app{
    width: 60%;
    margin: auto;
}

.points{
    background: white;
    color: black;
    line-height: 25px;
    padding: 5px 10px;
    border-radius: 20px ;
}

header{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
    color: white;
    background-image: url('./images/wp.jpg');
    background-color: #DC3A45;
    background-position: center;
    background-repeat: space;
    font-weight: 700;
}